<!DOCUTTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,user-scalable=no,initial=1.0,maximum=1.0,minimum=1.0" />
        <title>类别</title>
        <link href="~/Content/CSS/base.css" rel="stylesheet" />
        <link href="~/Content/CSS/category.css" rel="stylesheet" />
    </head>
    <body>
        <header class="jd_topBar">
            <a href="" class="icon_back"></a>
            <form action="">
                <input type="search" />
            </form>
            <a href="" class="icon_menu"></a>
        </header>
        <!--京东大盒子-->
        <main class="jd_category">
            <!--一级分类-->
            <div class="jd_category_left">
                <ul class="jd_category_left_con">
                <li><a href="javascript:;">热门推荐</a></li>
                <li class="now"><a href="javascript:;">潮流女装</a></li>
                <li><a href="javascript:;">品牌男装</a></li>
                <li><a href="javascript:;">内衣配饰</a></li>
                <li><a href="javascript:;">家用电器</a></li>
                <li><a href="javascript:;">电脑办公</a></li>
                <li><a href="javascript:;">手机数码</a></li>
                <li><a href="javascript:;">母婴频道</a></li>
                <li><a href="javascript:;">图书</a></li>
                <li><a href="javascript:;">家居家纺</a></li>
                <li><a href="javascript:;">居家生活</a></li>
                <li><a href="javascript:;">家具建材</a></li>
                <li><a href="javascript:;">热门推荐</a></li>
                <li><a href="javascript:;">潮流女装</a></li>
                <li><a href="javascript:;">品牌男装</a></li>
                <li><a href="javascript:;">内衣配饰</a></li>
                <li><a href="javascript:;">家用电器</a></li>
                <li><a href="javascript:;">电脑办公</a></li>
                <li><a href="javascript:;">手机数码</a></li>
                <li><a href="javascript:;">母婴频道</a></li>
                <li><a href="javascript:;">图书</a></li>
                <li><a href="javascript:;">家居家纺</a></li>
                <li><a href="javascript:;">居家生活</a></li>
                <li><a href="javascript:;">家具建材</a></li>
            </ul>
            </div>  
            <!--二级分类-->
            <div class="jd_category_right">
                <!--定义一个大盒子来装所有内容，用来滑动-->
                <div class="jd_category_right_con">
                    <a href="" class="jd_category_banner"><img src="~/Content/Image/banner_1.jpg" alt="" /></a>
                    <div class="jd_category_box">
                        <h3>热门分类</h3>
                        <ul class="clearfix">
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="jd_category_box">
                        <h3>热门分类</h3>
                        <ul class="clearfix">
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="~/Content/Image/nv-fy.jpg" alt="" />
                                    <p>毛大衣</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>