<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>京东导航</title>
    <link rel="shortcut icon" href="https://www.jd.com/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="https://www.jd.com/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="leftnav">
        <h3><a href="/JD/Cart">购物车</a></h3>
        <h3><a href="/JD/Index">主页</a></h3>
        <h3><a href="/JD/Category">频道</a></h3>
    </div>
</body>
</html>
