<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>导航</title>
    <link rel="shortcut icon" href="http://www.jiuxian.com/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="http://www.jiuxian.com/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="leftnav">
        <h3><a href="/Home/Rect">矩形</a></h3>
        <h3><a href="/Home/Arc">圆形</a></h3>
        <h3><a href="/Home/FiveStar">五角星</a></h3>
        <h3><a href="/CSS/Index">CSS示例</a></h3>
        <h3><a href="/BootStrap/Index">BootStrap示例</a></h3>
        <h3><a href="/JD/Nav">京东示例</a></h3>
    </div>
</body>
</html>
